<div class="pages edit">
	<%= link_to("<<Vrati se", {:controller => 'pages', :action => 'index',:subject_id => @subject.id}) %>
	<%= form_for(:page, :url => {:action => 'update', :id => @page.id, :subject_id => @subject.id}) do |f| %>
	
	<%= render(:partial => "form", :locals => {:f => f})	%>
	<%= submit_tag("Submit!") %>
	<% end %>
</div>

