<div class="pages delete">
<% link_to("Vrati se", {:action => 'index'}) %>
<%= form_for(:page, :url => {:action => 'destroy', :id => @page.id}) do |f| %>
<%= @page.name %>
<%= submit_tag("Brisi") %>
<% end %>
</div>