<div class ="pages new">
	<%= link_to("<<Vrati se",{:action => 'index'}) %>
		<%= form_for(:page, :url => {:action => 'create'}) do |f| %>
		
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<%= submit_tag("Napravi") %>
	<% end %>
</div>